.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 2rem;
  }
  .Github--header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
  }
  
  .Github--header h1 {
    margin-bottom: 40px;
    font-size: 3.5rem;
    font-family: var(--primaryFont);
  }
  
  .border-Div {
    padding: 2rem 4rem;
    border: 10px solid #34924A;
    border-radius: 50px 5px;
  }
  
  .stats-Div {
    margin-top: 1rem;
    /* display: flex; */
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
    gap: 1rem;
  }
  
  .State--header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
  }
  
  .State--header h1 {
    margin: 40px 0;
    font-size: 2.5rem;
    font-family: var(--primaryFont);
  }
  @media (max-width:982px) { 
    .stats-Div {grid-template-columns: repeat(1,1fr)}
      img#github-streak-stats{
        width: 453px;
        height: 175px;
      } 

  }
  